<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonaventure BlogApp</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header background secondary-color">
        <div class="header-container tertiary-text-color">
            <h1>Bonaventure Blog</h1>
            <% if (locals.currentPage == "home") { %>
                <a href="/create">
                    <button class="button tertiary-color secondary-text-color">Create a blog post</button>
                </a>
            <% } else { %>
                <a href="/">
                    <button class="button tertiary-color secondary-text-color">Home Page</button>
                </a>  
            <% } %>
        </div>
    </div>